@model IEnumerable<StarboundWorlds.Models.Planet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Planet Names
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{ item.PlanetName = item.inheritPlanetName(); }

            @Html.DisplayFor(modelItem => item.PlanetName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlanetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlanetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlanetID })
        </td>
    </tr>
}

</table>
