@model WorldsProject.Models.Moon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h3>Moon</h3>
        @{ Model.MoonName = Model.inheritMoonName(); }
    <h4>
        @Html.DisplayFor(model => model.MoonName)
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Planet
        </dt>
            @{ Model.Planet.PlanetName = Model.Planet.inheritPlanetName(); }
        <dd>
            @Html.ActionLink(Model.Planet.PlanetName, "Details", "Planet", new { id = Model.Planet.PlanetID }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orbit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orbit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorldType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorldType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorldSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorldSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorldGravity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorldGravity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Edit", "Edit", new { id = Model.MoonID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.MoonID })
</p>
